@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lunasima:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #141414 background */
/* #242424 sidebar */
/* #3e3e3e sidebar-highlight */
/* #242424 main-highlight */
/* #3d77c2 accent */

/* Fonts */

/* Lunasima */

/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.lunasima-regular {
	font-family: "Lunasima", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.lunasima-bold {
	font-family: "Lunasima", sans-serif;
	font-weight: 700;
	font-style: normal;
}

/* Poppins */

.poppins-thin {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: normal;
}

.poppins-extralight {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
}

.poppins-light {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.poppins-regular {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.poppins-medium {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.poppins-semibold {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.poppins-bold {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.poppins-extrabold {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: normal;
}

.poppins-black {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.poppins-thin-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: italic;
}

.poppins-extralight-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: italic;
}

.poppins-light-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: italic;
}

.poppins-regular-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: italic;
}

.poppins-medium-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: italic;
}

.poppins-semibold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: italic;
}

.poppins-bold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: italic;
}

.poppins-extrabold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: italic;
}

.poppins-black-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-style: italic;
}

/* Rest */

.logo.vite:hover {
	filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafb);
}

html {
	overflow: auto;
}

:root {
	font-family: Inter, Lunasima, Poppins, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;

	color: #d6d3d1;
	/* background-color: #141414; */
	background-color: #171717;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* custom scrollbar */
::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	/* background-color: rgb(34, 34, 34); */
	/* border: 1px solid rgb(34, 34, 34);
	border-top-width: 0;
	border-bottom-width: 0; */
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #756a67;
	border-radius: 8px;
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(211, 217, 223);
}

.divider {
	width: 100%;
	border-bottom: 1px solid #44403c;
}

h1 {
	font-size: 2em;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4 {
	line-height: 1em;
}

/* even children */
.tree-root>.tree-item {
	position: relative;
}

.tree-root>.tree-item:nth-child(2n + 1) {
	background-color: #2525255d;
}

.tree-root>.tree-item.selected::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 0.3rem;
	background-color: #0284c7;
}